@import "tailwindcss";

@theme {
  --font-sans: "Poppins", ui-sans-serif, system-ui, sans-serif;
  --font-headline-md: "Poppins", ui-sans-serif, system-ui, sans-serif;
  --font-label-sm: "Poppins", ui-sans-serif, system-ui, sans-serif;
  --font-body-md: "Poppins", ui-sans-serif, system-ui, sans-serif;
  --font-body-lg: "Poppins", ui-sans-serif, system-ui, sans-serif;
  --font-headline-lg-mobile: "Poppins", ui-sans-serif, system-ui, sans-serif;
  --font-display-lg: "Poppins", ui-sans-serif, system-ui, sans-serif;
  --font-label-lg: "Poppins", ui-sans-serif, system-ui, sans-serif;
  --font-headline-lg: "Poppins", ui-sans-serif, system-ui, sans-serif;
  --font-label-md: "Poppins", ui-sans-serif, system-ui, sans-serif;
  --font-caption: "Poppins", ui-sans-serif, system-ui, sans-serif;

  --text-headline-md: 24px;
  --text-headline-md--line-height: 32px;
  --text-headline-md--font-weight: 600;
  --text-label-sm: 12px;
  --text-label-sm--line-height: 16px;
  --text-label-sm--font-weight: 500;
  --text-body-md: 16px;
  --text-body-md--line-height: 24px;
  --text-body-md--font-weight: 400;
  --text-body-lg: 18px;
  --text-body-lg--line-height: 28px;
  --text-body-lg--font-weight: 400;
  --text-headline-lg-mobile: 24px;
  --text-headline-lg-mobile--line-height: 32px;
  --text-headline-lg-mobile--font-weight: 700;
  --text-display-lg: 48px;
  --text-display-lg--line-height: 60px;
  --text-display-lg--letter-spacing: -0.02em;
  --text-display-lg--font-weight: 700;
  --text-label-lg: 14px;
  --text-label-lg--line-height: 20px;
  --text-label-lg--letter-spacing: 0.01em;
  --text-label-lg--font-weight: 600;
  --text-headline-lg: 32px;
  --text-headline-lg--line-height: 40px;
  --text-headline-lg--letter-spacing: -0.01em;
  --text-headline-lg--font-weight: 700;
  --text-label-md: 14px;
  --text-label-md--line-height: 20px;
  --text-label-md--letter-spacing: 0.01em;
  --text-label-md--font-weight: 600;
  --text-caption: 12px;
  --text-caption--line-height: 16px;
  --text-caption--font-weight: 400;

  --color-primary-container: #2554d7;
  --color-surface: #f8f9ff;
  --color-surface-container-high: #dde9ff;
  --color-secondary-container: #356ee7;
  --color-on-secondary: #ffffff;
  --color-outline-variant: #c4c5d7;
  --color-on-secondary-fixed-variant: #0040a2;
  --color-on-background: #101c2c;
  --color-on-surface: #101c2c;
  --color-inverse-primary: #b6c4ff;
  --color-outline: #747686;
  --color-error: #ba1a1a;
  --color-on-primary-fixed-variant: #003ab2;
  --color-secondary-fixed-dim: #b2c5ff;
  --color-tertiary-container: #5b6068;
  --color-on-primary-container: #d2d9ff;
  --color-tertiary-fixed: #dee3ed;
  --color-on-secondary-fixed: #001848;
  --color-surface-variant: #d7e3f9;
  --color-on-tertiary-fixed-variant: #41474f;
  --color-on-primary-fixed: #001550;
  --color-surface-container-lowest: #ffffff;
  --color-surface-container-low: #eff4ff;
  --color-on-primary: #ffffff;
  --color-on-error: #ffffff;
  --color-error-container: #ffdad6;
  --color-on-surface-variant: #434654;
  --color-tertiary-fixed-dim: #c1c7d0;
  --color-primary: #003bb5;
  --color-surface-container: #e6eeff;
  --color-secondary-fixed: #dae2ff;
  --color-on-tertiary-container: #d6dbe5;
  --color-surface-bright: #f8f9ff;
  --color-surface-tint: #2352d5;
  --color-secondary: #0453cd;
  --color-surface-dim: #cedbf0;
  --color-surface-container-highest: #d7e3f9;
  --color-inverse-surface: #253141;
  --color-on-tertiary: #ffffff;
  --color-on-tertiary-fixed: #161c23;
  --color-tertiary: #434950;
  --color-primary-fixed-dim: #b6c4ff;
  --color-inverse-on-surface: #eaf1ff;
  --color-on-error-container: #93000a;
  --color-on-secondary-container: #fefcff;
  --color-primary-fixed: #dce1ff;
  --color-background: #f8f9ff;

  --spacing-margin-desktop: 48px;
  --spacing-margin-mobile: 16px;
  --spacing-section: 64px;
  --spacing-gutter: 24px;
  --spacing-lg: 24px;
  --spacing-xl: 32px;
  --spacing-md: 16px;
  --spacing-sm: 12px;
  --spacing-base: 8px;
  --spacing-xs: 4px;
}

html, body, #app {
  height: 100%;
  overflow: clip;
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

.bg-dot-pattern {
  background-image: radial-gradient(rgba(255, 255, 255, 0.2) 1px, transparent 1px);
  background-size: 20px 20px;
}
